# python=3.11.4
jupyterlab
pandas
seaborn
plotly
hvplot
segysak
segyio
lasio
openpyxl
fastparquet
joblib
scikit-learn
dask
jupyter-collaboration
ipyuploads
fastapi
typer
pySmartDL
uvicorn[standard]
pydash
sqlmodel
python-multipart
requests-html
beautifulsoup4
nltk
spacy
contexttimer
bounded-pool-executor