# python=3.11.4
beautifulsoup4==4.12.2
bounded-pool-executor==0.0.3
contexttimer==0.3.3
dask==2023.9.2
fastapi==0.103.2
fastparquet==2023.8.0
hvplot==0.8.4
ipyuploads==0.2.1
joblib==1.3.2
jupyterlab==4.0.6
jupyter-collaboration==1.2.0
jupyterlab-pygments==0.2.2
jupyterlab_server==2.25.0
jupyterlab-widgets==3.0.9
lasio==0.31
nltk==3.8.1
openpyxl==3.1.2
pandas==2.1.1
plotly==5.17.0
pydash==7.0.6
pySmartDL==1.3.4
python-multipart==0.0.6
requests-html==0.10.0
scikit-learn==1.3.1
seaborn==0.12.2
segyio==1.9.11
segysak==0.4
spacy==3.6.1
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sqlmodel==0.0.8
typer==0.9.0
uvicorn[standard]==0.23.2
